* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Verdana", sans-serif;
}

header {
	width: 100%;
	height: 65px;
	background-image: linear-gradient(to left, #2A9DF4, #03254C);
	color: #FFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 35px;
}

header h1 a {
	text-decoration: none;
	color: #FFF;
}

header h1 a:hover {
	color: #CDCDCD;
}

header .novo-contato {
	text-decoration: none;
	color: #000;
	padding: 10px 15px;
	background-color: #E5E5E5;
	border: 1px solid #000;
}

header .novo-contato:hover {
	background-color: #1167B1;
	color: #FFF;
}

main {
	padding: 20px 60px;
}

.obg {
	color: #F00;
}

#dados {
	margin: auto;
	width: 50%;
	border: 2px solid #333;
	background-color: #DADADA;
}

#dados h2 {
	background-color: #187BDC;
	color: #FFF;
	padding: 15px;
	text-align: center;
	border-bottom: 2px solid #333;
}

#dados .bold {
	font-weight: bold;
}

#dados .info {
	padding: 5px 10px;
	background-color: #FFF;
	border: 1px solid #000;
	font-family: "Arial", sans-serif;
}

#dados .info a {
	font-family: "Arial", sans-serif;
}

#dados .del-confirm {
	padding: 20px;
	border: 3px solid #F00;
	background-color: #FFF;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #F00;
	margin: 10px;
}

.container {
	padding: 20px;
}

.container label {
	font-weight: bold;
}

.container input {
	width: 100%;
	padding: 5px 10px;
}

.container textarea {
	padding: 5px 10px;
	width: 100%;
	height: 90px;
	resize: none;
}

.col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
	width: 100%;
}

.col-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	width: 100%;
}

#dados .btn {
	display: flex;
	padding: 0 20px;
	justify-content: space-between;
}

#dados .btn a {
	background-color: #777;
	border: 1px solid #000;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

#dados .btn a:hover {
	background-color: #AAA;
}

.btn button {
	margin-bottom: 15px;
	padding: 10px 40px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #000;
}

.btn button[name="save"] {
	background-color: #06F;
	color: #FFF;
}

.btn button[name="save"]:hover {
	cursor: pointer;
	background-color: #39F;
}

.btn button[name="cancel"] {
	background-color: #F22;
	color: #FFF;
}

.btn button[name="cancel"]:hover {
	cursor: pointer;
	background-color: #F66;
}

.btn button[name="delete"] {
	background-color: #F22;
	color: #FFF;
}

.btn button[name="delete"]:hover {
	cursor: pointer;
	background-color: #F66;
}

.btn button[name="reset"] {
	background-color: #777;
	color: #FFF;
}

.btn button[name="reset"]:hover {
	cursor: pointer;
	background-color: #AAA;
}

#contatos,
#contatos td, th {
	border: 1px #000 solid;
}

#contatos th {
	background-color: #1167B1;
	color: #FFF;
}

#contatos td {
	text-align: center;
}

#contatos td a span {
	border: 1px solid #000;
	padding: 5px 10px;
	color: #000;
}

/* Botões de ação */
#contatos .fa-eye,
#contatos .fa-edit,
#contatos .fa-trash {
	background-color: #E5E5E5;
}

#contatos .fa-eye:hover {
	background-color: #3FE0D0;
	color: #000;
}

#contatos .fa-edit:hover {
	background-color: #06F;
	color: #FFF;
}

#contatos .fa-trash:hover {
	background-color: #F22;
	color: #FFF;
}

#contatos tr:nth-child(even) {
	background-color: #D0EFFF;
}

#contatos tr:hover {
	background-color: #f7d6bf;
}

footer {
	background-color: #187BDC;
	color: #FFF;
	text-align: center;
	padding: 20px 0;
}
